.brand-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.brand-card{
  background: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;

  img{
    width: 100px;
    margin-top: 10px;
  }

  
}
.brand-colors {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.color-swatch {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
}